* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-weight: bold;
  font-size: 1rem;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #372e29;
}

.calculator {
  min-width: 500px;
  flex: 0 0 60%;
  border: solid 5px #BDBDBD;
}

.screen {
  width: 100%;
  font-size: 7rem;
  padding: 0.5rem;
  background: rgb(41,41,56);
  color: white;
  border: none;
}

.buttons {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  transition: all 0.5s linear;

}

button {
  flex: 0 0 25%;
  border: 1px solid black;
  padding: 0.25rem;
  transition: all 1s ease;
}

button:hover {
  background: #ecb939;
}

.btn-yellow {
  background: rgb(245,146,62);
  color: white;
}

.btn-grey {
  background: rgb(224,224,224);
}

.btn, .btn-clear {
  font-size: 3rem;
}

.btn, .btn-percent, .btn-modular {
  font-size: 3rem;
}
.btn-equal {
  background: #f0c75e;
  font-size: 3rem;

}

.btn-clear {
  flex-grow: 1;
  background: #f0c75e;
}

.btn-percent {
  flex-grow: 1;
}


.btn-modular {
  flex-grow: 1;
}

.btn-pi {
  flex-grow: 1;
  font-size: 3rem;
  }
